inst/doc
.Rproj.user
test-raw
.Rhistory
doc
Meta
bin
vignettes/SOCS1
vignettes/CIITA
vignettes/digested_genome
vignettes/UMI4Cats_data
vignettes/UMI4Cats_index
digested_genome
UMI4Cats_data
UMI4Cats_data_sub
UMI4Cats_index
*.Rproj
UMI4Cats.Rproj
dev
pkgdown
_pkgdown.yml
check
