art==4.1
beautifulsoup4==4.4.1
bx-python==0.7.3
CIRCexplorer2==2.1.0
cmd2==0.6.8
coverage==4.5.4
Cython==0.29.13
docopt==0.6.2
Flask==0.10.1
functools32==3.2.3.post2
gdc-client==1.0.1
HTSeq===0.6.1p1
intervaltree==2.0.4
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
kissplice2reftranscriptomelib==1.2.2
lxml==3.5.0b1
MACS2==2.1.0.20150420
MarkupSafe==0.23
natsort==6.0.0
ncls==0.0.46
numpy==1.17.3
pandas==0.24.2
parcel==0.1.13
progressbar==2.3
pybedtools==0.7.7
pycompss==1.4
pyranges==0.0.59
pyrle==0.0.25
pysam==0.9.0
python-dateutil==2.5.2
python-magic==0.4.11
pytz==2019.3
PyYAML==3.11
requests==2.5.1
RSeQC==2.6.4
s3cmd==1.6.1
six==1.10.0
sorted-nearest==0.0.29
sortedcontainers==1.5.3
tabulate==0.8.5
termcolor==1.1.0
Werkzeug==0.11.10
